*,body,html{
  margin: 0;
  padding: 0;
  /* height: 100%; */
}
.container{
display: flex;
justify-content: center;
margin-top: 100px;
}
.box{
  display: flex;
  min-width: 500px;
  min-height: auto;
  margin: 10px 10px;
  background: white;
  padding: 10px;
  box-shadow: 5px 5px 20px gray;
  /* border: 1px solid black; */
  
  /* justify-content: center; */

}
.income-box{
  display: flex;
  /* position: relative; */
  float: left;
  min-width: 200px;
  min-height: 150px;
  margin:10px;
  margin-top: 50px;
  justify-content: center;
  box-shadow: 5px 5px 20px rgb(185, 182, 182);
  /* border: 1px solid coral; */

}
.mid-box{
  width: 200px;
  min-height: 300px;
  border: 1px solid black;
  padding: 10px;
}
.expense-box{
  display: flex;
  /* position: relative; */
  min-width: 200px;
  min-height: 150px;
  float: right;
  margin:10px;
  margin-top: 50px;
  /* border: 1px solid coral; */
  justify-content: center;
 
  box-shadow: 5px 5px 20px rgb(185, 182, 182);

}